@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  button:focus {
    outline: 1px solid #fff;
    outline-offset: 0.5rem;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}
  